<div class="container">

  <div class="form_input">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :login %>
      <%= f.text_field :login, :placeholder => 'Login or Email'%>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', :placeholder => 'Password' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox_remember">
        <%= f.check_box :remember_me %>
        <p>Remember me</p>
      </div>
    <% end -%>

    <div class="actions">
        <%= f.submit "Login", :class => 'btn btn-info'  %>
      </div>
    <% end %>
  </div>

  <p>Need an account?</p>
  <%= render "devise/shared/links" %>
</div>