<div class="container">

  <!-- Создание платежа -->
  <div class="button_create">
    <%= form_for(@payment) do |f| %>
        <%= f.submit 'Create Payment', :class=> 'btn btn-info', :onclick=> 'button_click()' %>
  <% end %>
  </div>

  <div class="paymant_info">
    <% if @payments.present? %>
      <!-- Начальная и конечная дата -->
      <div class="paymants_from">
      <%= raw "Paymants from <b>#{@payments.first.starts_at.strftime("%b %e, %Y")}</b>
          to <b>#{@payments.last.ends_at.strftime("%b %e, %Y")}</b>" %>
      </div>

      <!-- Таблица с выплатами -->
      <table class="table table-striped" width="400px">
        <thead>
          <tr>
            <td> # </td>
            <td>Dates </td>
            <td>Creator </td>
            <td>Actions </td>
          </tr>
        </thead>
        <tbody>
        <% if @payments.present? %>
          <% @payments.each do |date| %>
            <tr>
              <td class="num"></td>
              <td><%= date.starts_at.strftime("%b %e, %Y") %> - <%= date.ends_at.strftime("%b %e, %Y") %></td>
              <td><%= date.user.email %>  </td>
              <td>
                <% if current_user.email == date.user.email%>
                  <%= link_to 'Delete', payment_path(date), method: :delete, data: { confirm: 'Delete?' },
                              :class=> 'btn btn-danger btn-xs' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <!-- Нумерация строк в таблице -->
        <script>
          $('.table tbody tr').each(function(i) {
              var number = i + 1;
              $(this).find('td:first').text(number);
          });
      </script>
    <% else %>
        <p> No data on payments </p>
    <% end %>
    <%= paginate @payments %>

  </div>
</div>

