<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationTest</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <% if user_signed_in? %>
        <!--Меню зарегистрированного пользователя-->
        <div class="menu_register">
          <h1>Application</h1>
          <ul>
            <li><%= link_to 'Main page'%></li>
            <li><%= link_to 'Payments', payments_path %></li>
            <li class="logout">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete%> (<%= current_user.email %>)
            </li>
          </ul>
        </div>
      <% else %>
        <!--Меню не зарегистрированного пользователя-->
        <div class="menu_login">
          <p> Welcome to Application. Please login <p>
        </div>
      <% end %>
    </header>
    <div class="info">
      <li id="notice" class="notice"><%= notice %></li>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
